<div class="container-fluid events index">
  <div class="row">
  {{#each events}}
    <div class="col-lg-4 col-md-6">
      <img class="img-fluid" src="{{imgUrl}}" />
    </div>
  {{/each}}
  </div>
</div>