<div class="container-fluid">
    <div class="row">
        <div id="left-side" class="col-sm">
            <ul class="list-group appendPoint"> 
                {{>dungeons}}
            </ul>
            <div class="loading"></div>
        </div>
    </div>
</div>

<script src="js/dungeon.js?version=1.9"></script>