<div class="container-fluid drops index">
  <div class="row" id="welcome">
    <div class="col-lg">
      <h2>Sign In</h2>
      <form id="signin-form">
          <div class="form-group">
            <input type="text" class="form-control" id="session-id" placeholder="Paste your session id here">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Email (optional)">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="phone" placeholder="Phone (optional)">
          </div>
          <div class="form-group">
            <select class="form-control" id="alert-level">
              <option value="0">No Alerts</option>
              <option value="4">4* Items or Higher</option>
              <option value="5">5* Items or Higher</option>
              <option value="6">6* Items or Higher</option>
            </select>
          </div>
          <input type="submit" class="btn btn-block btn-primary" value="Sign In" />
      </form>
    </div>

    <div class="col-lg">
      <h2>About</h2>
        
      <p>Welcome to FFRKreeper! This app will show you your drops when you join a battle. That way, if it's a shitty drop, you don't have to worry about completing the battle and you can flee and join again until you get a good drop!</p>

      <p>We've also got dungeon, battle, enemy and buddy info. Plus some raw audio and image files we scraped from the game. Check the nav for all we've got!</p>

      <p>All you need is to get your session id and paste it into the form - and keep the app open somewhere! Read on to find out how to get your session id.</p>

      <p>Once you're signed in, you'll start seeing your drops right here.</p>

      <h4>Notifications</h4>

      <p>If you want, put your email in there, too.</p>

      <p>Same with phone, but if you put in a phone number, use format "+15555555"</p>

      <p>Additionally, FFRKreeper will let you know when your session id expires!</p>

      <p>To Note:</p>
      <ol>
          <li>Sending SMS and Email costs money. If this feature blows up, we may have to pull it</li>
          <li>Email can be a bit slow</li>
          <li>This app will not work for MP Raid Dungeons, but solo Raid Dungeons are fine</li>
          <li>You still need to have FFRKreeper open somewhere. If you close the app, you won't get the notififations</li>
      </ol>

      <h4>Getting your session id</h4>

      <p>This is the one bitch in the whole process. Here are some helpful tips for finding it!</p>

      <h6>Mac / iOS</h6>
      <ol>
          <li><a href="http://useyourloaf.com/blog/remote-packet-capture-for-ios-devices/">Using WireShark</a></li>
          <li>Fight a battle</li>
          <li>Parse through the messages from ffrk.denagames.com (maybe by IP address) and find your session id (it'll look like this: Cookie: http_session_sid=xxxxxxxxxxxxxxxxxx). Make sure you don't copy the semicolon or the 'http_session_sid' part.</li>
      </ol>

      <h6>PC / iOS</h6>
      <ol>
          <li><a href="https://blogs.esri.com/esri/supportcenter/2011/12/06/configuring-fiddler-to-capture-web-traffic-from-an-iphone-ipad-device/">Using Fiddler</a></li>
          <li>Play a battle, get the session ID, then plug it into the web app.</li>
      </ol>

      <h6>Android</h6>
      <small>From <a href="https://www.reddit.com/user/Pinguino21v">/u/Pinguino21v</a></small>
      <ol>
          <li>Install <a href="https://play.google.com/store/apps/details?id=jp.co.taosoftware.android.packetcapture">tPacketCapture</a></li>
          <li>Load it</li>
          <li>Open FFRK and do something (change a menu)</li>
          <li>Quit the VPN connexion (notification bar)</li>
          <li>Open tPacketCapture again to find where the file containing the data is saved</li>
          <li>Copy that file to a PC with WireShark installed</li>
          <li>Open it with WireShark</li>
          <li>Search for "http_session_sid" (ctrl+F) on the packet detail</li>
          <li>Profit</li>
          <li>Or instead of opening it with WireShark on a PC, open the file with a text editor on your phone and find "http_session_sid". It will be easier if the said editor have a "find text" option. Google app "Docs" have it.</li>
      </ol>

      <h4>Maintainers</h4>
      <p>FFRKreeper is an <a href="https://github.com/gunnertech/ffrkreeper">opensource project</a> maintained by <a href="https://www.reddit.com/user/codyswann">/u/codyswann</a> and <a href="https://www.reddit.com/user/armastevs">/u/armastevs</a>.</p>

      <p>If you'd like to report a bug or get involved with the project, please message one of the maintainers.</p>
    </div>
  </div>

  <div class="row" id="drops">
    <div class="col-sm">
      <h2>Drops</h2>
        <div id="attach-point"></div>
        <div class="loading-wrapper">
          <img src="/images/loading.gif" />
          <p>Fetching drops...</p>
        </div>
      </div>
    </div>
  </div>

</div>

<a class="btn btn-block btn-primary" id="btn-signout" href="#" style="display: none;">Sign Out</a>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js?version=1.24"></script>