<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css?ver=1.3">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>

    <title>FFRKreeper {{title}}</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">FFRKreeper</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dungeons">Drop Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Kreepers</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/enemies">Enemies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/audio-files">Audio</a>
                </li>
            </ul>

            <form id="signout-form" style="display: none;" class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>

    {{{body}}}

    <footer class="fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row">
                        <div class="p-2"><small>By <a href="http://gunnertech.com">Gunner Technology</a></small></div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <span style="display: none;" class="badge badge-default">Status: Connecting...</span>
                            <span style="display: none;" class="badge badge-danger">Status: Disconnected</span>
                            <span style="display: none;" class="badge badge-success">Status: Connected</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23471613-36', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>