/*#attach-point img {
    max-width: 50px;
    height: auto;
  }*/

body {
    padding-bottom: 50px;
}

body > .container-fluid {
    margin-top: 40px;
}

.drops.index .loading-wrapper {
    text-align: center;
    display: none;
}

.drops.index form {
    margin-bottom: 20px;
}

.index .card {
    margin-bottom: 20px;
}

.dungeons.index img {
    height: 50px;
    width: 50px;
}

#attach-point .col {
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    text-align: center;
}

#attach-point .table-striped {
    margin-top: 20px;
}

.img-cell {
    width: 100px;
}


.dungeonDropImg  {
    height: 50px;
    width: 50px;
}

.loading {
    display: none;
}
.loading img {
    margin: 0 auto;
    display: block;
}


footer {
    background-color: #f7f7f7;
    /*    color: white;*/
}