Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckGracePeriod: 1200
      HealthCheckType:
        Fn::GetOptionSetting:
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "HEALTH_CHECK_TYPE"
          DefaultValue: "ELB"
      