<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>FFRKreeper Audio Files</h1>    
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tbody>
          {{#each audioFiles}}
            <tr>
              <td>
                <audio style="width: 100%;" controls="controls" preload="none"> 
                  <source src="{{url}}" type="audio/mp4"> 
                </audio>
              </td>
              <td>
                <a href="{{url}}">Download Audio</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>