<div class="container-fluid events index">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#gacha" role="tab">Gacha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#events" role="tab">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#backgrounds" role="tab">BGs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#characters" role="tab">Characters</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="gacha" role="tabpanel">
      <div class="row">
      {{#each gachas}}
        <div class="col-lg-4 col-md-6">
          <img class="img-fluid" src="https://ffrk.static.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/lineup_image/{{this}}.png" onerror="this.onerror=null;$(this).parent().remove();" />
        </div>
      {{/each}}
      </div>
    </div>
    
    <div class="tab-pane" id="events" role="tabpanel">
      <div class="row">
      {{#each events}}
        <div class="col-lg-4 col-md-6">
          <img class="img-fluid" src="https://ffrk.static.denagames.com/dff/static/lang/ww/compile/en/image/event/{{this}}.png" onerror="this.onerror=null;$(this).parent().remove();" />
        </div>
      {{/each}}
      </div>
    </div>

    <div class="tab-pane" id="backgrounds" role="tabpanel">
      <div class="row">
      {{#each events}}
        <div class="col-lg-4 col-md-6">
          <img class="img-fluid" src="https://ffrk.static.denagames.com/dff/static/lang/image/event/{{this}}_bg.png" onerror="this.onerror=null;$(this).parent().remove();" />
        </div>
      {{/each}}
      </div>
    </div>

    <div class="tab-pane" id="characters" role="tabpanel">
      <div class="row">
      {{#each characters}}
        <div class="col-lg-1 col-md-2 col-4">
          <img src="https://ffrk.static.denagames.com/dff/static/lang/image/tip_download/{{this}}.png" onerror="this.onerror=null;$(this).parent().remove();" />
        </div>
      {{/each}}
      </div>
    </div>

  </div>

</div>