<div class="container-fluid dungeons index">

  <div class="list-group"> 
    {{#each dungeons}}
    <a href="/dungeon/{{_id}}/battles" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Dungeon: {{name}}</h5>
      </div>
      <p class="mb-1">
        {{#each dropImages}}
        <img src="{{this}}" />
        {{/each}}
      </p>
    </a>
    {{/each}}
  </div>


</div>